.export-view {
    padding: 22px;
    width: 49%;
}

.export-view .section {
    margin: 0 0 26px 0;
}

.export-view .section.resources,
.export-view .section.roles-users {
    margin-left: 20px;
}

.export-view p.title,
.export-view p.m-Dialog-header-title {
    margin: 0 0 14px;
    color: #666;
}

.export-view .section > .group {
    margin: 0 0 0 20px;
    padding-left: 0;
}

.export-view,
.export-view .section,
.export-view .section > .group {
    overflow: hidden;
}

.export-view .control.checkBox {
    float: left;
    min-width: 169px;
}

.export-view .section.file-name > .group {
    float: left;
}

.export-view .section.everything {
    margin: 14px 20px;
}

.export-view .section.events {
    width: 26%;
    float: left;
}

.export-view .section.file-name .control.input {
    margin: 0 40px 0 0;
    width: 400px;
    float: left;
}

.export-view .section.file-name .control.checkBox {
    margin-top: 22px;
}

.export-view .section.file-name .encryptFileWrapper {
    margin-right: 55px;
}

.export-view .section.resources,
.export-view .section.assets {
    float: left;
    width: 255px;
    margin-bottom: 14px;
}

.export-view .control.checkBox {
    min-width: 180px;
}

.export-view .selectRolesUsers.pickWells {
    margin: 4px;
    width: 670px;
    height: 220px;
    -webkit-user-select: none;
}

.export-view .selectRolesUsers.pickWells .control.searchLockup input {
    box-sizing: border-box;
    width: 100%;
    padding: 0 24px 8px 2px;
}

.export-view .group.rolesAndUsers .control.radio {
    float: left;
    min-width: 200px;
}

.export-view .button-select-all {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 25px;
    line-height: 25px;
    border: 1px solid #C1C1C1;
    cursor: pointer;
}

.export-view .button-select-all .label {
    display: inline;
    vertical-align: top;
    line-height: 21px;
}

.export-view .button-select-all .label .text {
    vertical-align: top;
}

.export-view .button-select-all .disabled {
    cursor: default;
}

.export-view .authorityPicker {
    margin-bottom: 25px;
}

.export-view .authorityPicker .selectBorder.lower {
    display: none;
}

.export-view .button-select-all .icon {
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    zoom: 1;
    height: 22px;
    vertical-align: top;
    background: transparent url("./images/icontrol_icons_sprite.png") 0 5px;
    width: 11px;
    pointer-events: auto;
}

.export-view .button-select-all.disabled {
    pointer-events: none;
}

.import-view {
    padding: 0 20px;
}

.import-view input.hidden {
    display: none;
}

#importDataFile.import-view #uploadFile {
    height: 18px;
    width: 358px;
}

.tenant-export-dialog {
    min-width: 745px;
    width: 745px;
    min-height: 670px;
}

.tenant-export-dialog .export-view,
.repository-export-dialog .export-view {
    width: 100%;
}

.tenant-export-dialog .export-view {
    padding: 23px 13px 15px;
}

.m-Dialog.tenant-export-dialog .m-Dialog-footer,
.m-Dialog.tenant-import-dialog .m-Dialog-footer,
.m-Dialog.repository-export-dialog .m-Dialog-footer {
    width: 100%;
    position: absolute;
    clear: both;
    bottom: 0;
}

.m-Dialog.tenant-export-dialog .m-Dialog-body {
    padding: 12px;
}

.m-Dialog.tenant-export-dialog > .m-Dialog-body,
.m-Dialog.tenant-import-dialog > .m-Dialog-body {
    padding: 0;
    margin-bottom: 40px;
}

.tenant-import-dialog {
    min-width: 440px;
    width: 440px;
}

.tenant-import-dialog .import-view {
    width: 100%;
}

.m-Dialog.tenant-import-dialog .m-Dialog-body {
    padding: 8px 20px 20px 0;
}

.tenant-import-dialog .m-Dialog-body fieldset.group {
    margin-bottom: 6px;
}

.dependent-resources-dialog,
.warnings-dialog {
    min-width: 550px;
    width: 550px;
    min-height: 328px;
}

.dependent-resources-dialog .m-Dialog-body,
.warnings-dialog .m-Dialog-body {
    min-height: 255px;
    height: 255px;
    overflow: auto;
    padding: 23px;
}

.dependent-resources-dialog .m-Dialog-body > .message {
    height: 26px;
}

.dependent-resources-dialog .m-Dialog-body > .control.groupBox,
.warnings-dialog .m-Dialog-body > .control.groupBox {
    margin: 0;
    min-width: 100%;
    min-height: 170px;
    display: inline-block;
}

.dependent-resources-dialog .m-Dialog-body .list.tabular > li > .wrap,
.warnings-dialog .m-Dialog-body .list.tabular > li > .wrap {
    border-top: none;
}

.warnings-dialog .m-Dialog-body {
    padding: 10px;
}

.warnings-dialog .m-Dialog-body > .control.groupBox {
    min-height: 208px;
    border: none;
}

.repository-export-dialog {
    min-width: 245px;
    width: 245px;
    height: 230px;
}

.repository-export-dialog .m-Dialog-body {
    padding: 18px;
}

.repository-export-dialog .m-Dialog-body > .export-view {
    padding: 0;
}

.repository-export-dialog .export-view .section.file-name {
    margin: 0 0 18px 0;
}

.repository-export-dialog .export-view .section.resources,
.repository-export-dialog .export-view .section.assets,
.repository-export-dialog .export-view .section.file-name > .group {
    margin: 0;
}

.repository-export-dialog .export-view .section.resources > .group,
.repository-export-dialog .export-view .section.assets > .group {
    margin-left: 10px;
}

.repository-export-dialog .export-view .section.file-name .control.input {
    margin: 0;
    width: 100%;
}

.repository-export-dialog .export-view .control.checkBox {
    min-width: 200px;
}

.merge-tenant-dialog {
    width: 450px;
    min-height: 249px;
    min-width: 450px;
}

.merge-tenant-dialog .m-Dialog-body > .message {
    height: 26px;
}

.m-Dialog.merge-tenant-dialog .m-Dialog-body {
    padding: 16px 16px 5px;
}

.merge-tenant-dialog p.imported-tenant,
.merge-tenant-dialog p.selected-tenant {
    margin: 15px 0 15px 20px;
}